<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../schema/tls.rnc" type="application/relax-ng-compact-syntax"?>
<div xmlns="http://www.tei-c.org/ns/1.0" xmlns:mods="http://www.loc.gov/mods/v3" xmlns:tls="http://hxwd.org/ns/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" type="concept" xml:id="uuid-b15f41a5-4d02-40b3-a459-b0982b1fd01a">
<head>BEANS</head>
    <list type="translations">
        <item xml:lang="zh">豆子</item>
    </list>
<div type="definition">
<p>VEGETABLE which contains SEEDS GROWING in LONG GREEN SHEATHS that can be EATEN.???</p>
    </div>
<div type="notes">
<div type="huang-jingui">
<p>HUANG JINGUI 2006</p>
<p>FOOD 37. 豆類作物。</p>
<p>菽，先秦時總稱；漢代以後專指大豆。</p>
<p>豆，漢代以後的總稱，口語詞。</p>
<p>荅，小豆。</p>
        </div>
<div type="modern-chinese-criteria">
<p>HUANG JINGUI</p>
        </div>
    </div>
<div type="pointers">
        <list type="hypernymy">
            <item>
                <ref target="#uuid-1760f18a-04e2-4f14-8976-7309970308b7">VEGETABLES</ref>
            </item>
        </list>
    </div>
<div type="source-references">
        <listBibl>
<bibl>
                <ref target="#uuid-60d39cc0-d76b-4275-8490-886ace4204be">BUCK 1988</ref>
<title>A Dictionary of Selected Synonyms in the Principal Indo-European Languages</title>
                <biblScope unit="page">5.66</biblScope>
                <note>
<p/>
                </note>
            </bibl>
<bibl>
                <ref target="#uuid-ecfe1810-16d7-46f0-901d-6fc0c0808a34">HONG CHENGYU 2009</ref>
<title>古漢語常用詞同義詞詞典</title>
                <biblScope unit="page">121</biblScope>
                <note>
<p/>
                </note>
            </bibl>
        </listBibl>
    </div>
<div type="words">
<entry type="word" xml:id="uuid-2800fb6a-6bff-4879-a8fa-cad1bc614f59">
            <form corresp="#uuid-7e7ef60e-6baa-4432-9910-879d30592926">
<orth>茙</orth>
                <pron xml:lang="zh-Latn-x-pinyin">róng</pron>
                <pron xml:lang="zh-x-oc">njuŋ</pron>
                <pron xml:lang="zh-x-mc">ȵuŋ</pron>
            </form>
<sense xml:id="uuid-fed99de7-569c-4d46-a572-ef02689e6141">
<gramGrp>
                    <pos>N</pos>
  <tls:syn-func corresp="#uuid-8717712d-14a4-4ae2-be7a-6e18e61d929b">n</tls:syn-func>
                    <usg type="warring-states-currency">2</usg>
                </gramGrp>
  <def>kind of bean</def>
            </sense>
</entry>
<entry type="word" xml:id="uuid-26190532-ecec-4f99-97dd-0d1e225bf492">
            <form corresp="#uuid-c4100705-1cfd-4e04-bfac-cf81267339bc">
<orth>荏</orth>
                <pron xml:lang="zh-Latn-x-pinyin">rěn</pron>
                <pron xml:lang="zh-x-oc">njɯmʔ</pron>
                <pron xml:lang="zh-x-mc">ȵim</pron>
            </form>
<sense xml:id="uuid-d9c4b63f-dc99-461f-97b3-cb15745d4604">
<gramGrp>
                    <pos>N</pos>
  <tls:syn-func corresp="#uuid-8717712d-14a4-4ae2-be7a-6e18e61d929b">n</tls:syn-func>
                    <usg type="warring-states-currency">2</usg>
                </gramGrp>
  <def>big bean</def>
            </sense>
</entry>
<entry type="word" xml:id="uuid-421ba190-456d-44da-b379-b7b68721ae12">
            <form corresp="#uuid-9ba938ab-c54a-47f5-b2c5-dcf68ea78575">
<orth>菽</orth>
                <pron xml:lang="zh-Latn-x-pinyin">shū</pron>
                <pron xml:lang="zh-x-oc">hnjɯwɡ</pron>
                <pron xml:lang="zh-x-mc">ɕuk</pron>
            </form>
<sense xml:id="uuid-692e153c-d61c-4fc6-936a-dab1c6c0659f">
<gramGrp>
                    <pos>N</pos>
  <tls:syn-func corresp="#uuid-e917a78b-5500-4276-a5fe-156b8bdecb7b">nm</tls:syn-func>
                </gramGrp>
  <def resp="#zadrapa" updated="2023-05-30T03:50:48.401+09:00">beans; pulse; bean soup</def>
            </sense>
</entry>
<entry type="word" xml:id="uuid-2a2dd396-f2cd-4c77-94ec-fb09dc1078f8">
            <form corresp="#uuid-a84877a9-d1a8-410b-a24f-d33790b1c307">
<orth>藿</orth>
                <pron xml:lang="zh-Latn-x-pinyin">huò</pron>
                <pron xml:lang="zh-x-oc">qhʷaaɡ</pron>
                <pron xml:lang="zh-x-mc">hɑk</pron>
                <listBibl>
<bibl>
                        <ref target="#uuid-71cc6340-5a8f-41ae-83b2-178447c6895a">DUAN DESEN 1992A</ref>
<title>簡明古漢語同義詞詞典</title>
                        <biblScope unit="page">774</biblScope>
                        <note>
<p/>
                        </note>
                    </bibl>
                </listBibl>
            </form>
<sense xml:id="uuid-5000869e-4d29-4c56-ba5c-0287197d56cd">
<gramGrp>
                    <pos>N</pos>
  <tls:syn-func corresp="#uuid-e917a78b-5500-4276-a5fe-156b8bdecb7b">nm</tls:syn-func>
                    <usg type="warring-states-currency">4</usg>
                </gramGrp>
  <def>leaves of bean plants;    bean plants (staple food)</def>
            </sense>
</entry>
<entry type="word" xml:id="uuid-3a3eadba-23ed-4afe-a512-3423e993bc96">
            <form corresp="#uuid-aaf68881-84d3-4811-aae1-c721349c08d5">
<orth>豆</orth>
                <pron xml:lang="zh-Latn-x-pinyin">dòu</pron>
                <pron xml:lang="zh-x-oc">doos</pron>
                <pron xml:lang="zh-x-mc">du</pron>
            </form>
<sense xml:id="uuid-167acaac-6c73-4237-a2ee-b52f7c15b4e2">
<gramGrp>
                    <pos>N</pos>
  <tls:syn-func corresp="#uuid-8717712d-14a4-4ae2-be7a-6e18e61d929b">n</tls:syn-func>
                    <usg type="warring-states-currency">4</usg>
                </gramGrp>
  <def>beans</def>
            </sense>
<sense xml:id="uuid-ff5107f7-888d-4992-8509-f93d3810cf3e">
<gramGrp>
                    <pos>N</pos>
  <tls:syn-func corresp="#uuid-91666c59-4a69-460f-8cd3-9ddbff370ae5">nadV</tls:syn-func>
                </gramGrp>
  <def>like a bean 瓜剖而豆分</def>
            </sense>
</entry>
    </div>
</div>