<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../schema/tls.rnc" type="application/relax-ng-compact-syntax"?>
<div xmlns="http://www.tei-c.org/ns/1.0" xmlns:mods="http://www.loc.gov/mods/v3" xmlns:tls="http://hxwd.org/ns/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" type="concept" xml:id="uuid-ef0251ed-2c77-481b-929c-455bd198a56e">
<head>SYSTEM</head>
    <list type="translations">
        <item xml:lang="zh">系統</item>
    </list>
<div type="definition">
<p>TRANSPARENTLY OR EXPLICITLY ORDERED COMPLEX WHOLE.</p>
    </div>
<div type="notes">
<div type="old-chinese-criteria">
<p>制度 refers to a legal system.</p>
        </div>
<div type="modern-chinese-criteria">
<p>制度</p>
<p>體系</p>
        </div>
    </div>
<div type="pointers">
        <list type="taxonymy">
<item>
                <ref target="#uuid-0a955378-7787-4695-b9d0-15e4f4f22c3e">METHOD</ref>
            </item>
<item>
                <ref target="#uuid-a36aa99b-567d-43e0-a7da-8c8b8e3192c9">STRUCTURE</ref>
            </item>
<item>
                <ref target="#uuid-c393b987-4d76-4e8b-8d39-6a48ed7d59ca">THEORY</ref>
            </item>
        </list>
        <list type="see">
<item>
                <ref target="#uuid-8d6f2da5-b4f2-419c-a702-52b411b2de74">SOCIETY</ref>
            </item>
<item>
                <ref target="#uuid-5e4ae920-6541-4e94-a2f4-1bc2f4a826e7">ORDER</ref>
            </item>
<item>
                <ref target="#uuid-36141b4e-167f-4a7c-80c1-8e9b98e3fdd7">TRANSPARENT</ref>
            </item>
        </list>
    <list type="hypernymy">
            <item>
                <ref target="#uuid-bc60a577-af36-4102-b4a3-e5bdcf5a4b7d">WHOLE</ref>
            </item>
        </list>
    </div>
<div type="source-references">
        <listBibl>
<bibl>
                <ref target="#uuid-57350e2c-978e-4013-b566-812ce1ea8cbf">FRANKE 1989</ref>
<title>Bibliographisches Handbuch zur Sprachinhaltsforschung. Teil II. Systematischer Teil. B. Ordnung nach Sinnbezirken (mit einem alphabetischen Begriffsschluessel): Der Mensch und seine Welt im Spiegel der Sprachforschung</title>
                <biblScope unit="page">189A</biblScope>
                <note>
<p/>
                </note>
            </bibl>
<bibl>
                <ref target="#uuid-91ef2ef1-7486-4414-aec0-a25971572d19">KOSELLECK 1972-97</ref>
<title>Geschichtliche Grundbegriffe</title>
                <biblScope unit="page">6.285-322</biblScope>
                <note>
<p/>
                </note>
            </bibl>
<bibl>
                <ref target="#uuid-d905dccd-9c5f-458e-b56c-c2a7c09e2d72">REY 2005</ref>
<title>Dictionnaire culturel en langue francaise</title>
                <biblScope unit="page">4.1184</biblScope>
                <note>
<p/>
                </note>
            </bibl>
<bibl>
                <ref target="#uuid-4acb4e0c-daab-4369-9991-912c64da1ee6">RITTER 1971-2007</ref>
<title>Historisches Woerterbuch der Philosophie</title>
                <biblScope unit="page">10.824</biblScope>
                <note>
<p/>
                </note>
            </bibl>
<bibl>
                <ref target="#uuid-574fc47b-68e2-4f99-a5c9-692ef8338357">BROWN 2005</ref>
<title>Encyclopedia of Language and Linguistics. Second Edition</title>
                <note>
<p/>
                </note>
            </bibl>
        </listBibl>
    </div>
<div type="words">

    </div>
</div>